<div class="sidebar">
    <div class="inner-sidebar m-3">
        <ul class="pl-0">
            <li class="c-sidebar-nav-item">
                <a class="sidebar-list font-weight-bold color-3C3C3C" [routerLinkActive]="['active']" [routerLink]="['/dashboard']"><img class="sidebar-icon" src="../../../assets/icons/homegrey.svg">Home</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="sidebar-list font-weight-bold " [routerLinkActive]="['active']" [routerLink]="['/store-list']"><img class="sidebar-icon" src="../../../assets/icons/storeIcon.svg">Store</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="sidebar-list font-weight-bold color-3C3C3C " [routerLinkActive]="['active']" [routerLink]="['/manager-list']"><img class="sidebar-icon" src="../../../assets/icons/managersIcon.svg">Managers</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="sidebar-list font-weight-bold color-3C3C3C " [routerLinkActive]="['active']" ng-reflect-router-link="/dashboard" href="#/dashboard"><img class="sidebar-icon" src="../../../assets/icons/settings.svg">Settings</a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="sidebar-list font-weight-bold color-3C3C3C " [routerLinkActive]="['active']" ng-reflect-router-link="/dashboard" href="#/dashboard"><img class="sidebar-icon" src="../../../assets/icons/notification.svg">Notifications</a>
            </li>
        </ul>
    </div>
</div>