<div class="container">
    <div class="card">
        <div class="card-header border-bottom-blue">
            <div class="row ">
                <div class="col-6 font20px font-weight-bold self-align-center">Add Manager</div>
                <div class="col-6 text-right">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-12 col-md-12 font18px ">1. Manager Details</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <fieldset class="form-group text-left">
                            <label class="font14px color-39444D font-family-OpenSans ">First Name</label>
                            <div class="input-group">
                                <input class="form-control box-shadow-none" id="title" type="text" placeholder="Enter First Name">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <fieldset class="form-group text-left">
                            <label class="font14px color-39444D font-family-OpenSans ">Last Name</label>
                            <div class="input-group">
                                <input class="form-control box-shadow-none" id="title" type="text" placeholder="Enter Last Name">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <fieldset class="form-group text-left">
                            <label class="font14px color-39444D font-family-OpenSans ">Role</label>
                            <div class="input-group">
                                <input class="form-control box-shadow-none" id="title" type="text" placeholder="Select Role">
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-12 col-md-12 font18px ">2. Contact Details</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <fieldset class="form-group text-left">
                            <label class="font14px color-39444D font-family-OpenSans ">Mobile Number</label>
                            <div class="input-group">
                                <input class="form-control box-shadow-none" id="title" type="text" placeholder="Enter Mobile Number">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <fieldset class="form-group text-left">
                            <label class="font14px color-39444D font-family-OpenSans ">Email Address</label>
                            <div class="input-group">
                                <input class="form-control box-shadow-none" id="title" type="text" placeholder="Enter Email Address">
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <button class="btn btn-lg btn-outline-default font16px border-right-css"><img class="img-fluid" src="../../../assets/icons/cancleIcon.svg"></button>
                        <button class="btn btn-lg btn-outline-default font16px border-left-css pl-2 pr-3" type="submit">Cancle</button>
                    </div>
                    <div class="col-sm-12 col-md-3 text-left">
                        <button class="btn btn-lg btn-default background-green font16px border-right-css color-white" type="submit"><img class="img-fluid" src="../../../assets/icons/Frame (1).svg"></button>
                        <button class="btn btn-lg btn-default background-green font16px border-left-css color-white" type="submit">Add Manager</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>