<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header border-bottom-blue">
                    <div class="row background-white ml-0 mr-0 border-radius-5px">
                        <div class="col-sm-12 col-md-7 col-lg-7 mt-4">
                            <div class="row color-green font20px font-weight-bolder">
                                <div class="col-12">Grocery Store <span class="circle">1324</span></div>

                            </div>
                            <div class="row color-grey font12px">
                                <div class="col-12">Total stores in Australia</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-5">
                            <img class="img-fluid" src="../../../assets/icons/shopping 1.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header border-bottom-blue">
                    <div class="row background-white ml-0 mr-0 border-radius-5px">
                        <div class="col-sm-12 col-md-7 col-lg-7 mt-4">
                            <div class="row color-green font20px font-weight-bolder">
                                <div class="col-12">Store Managers</div>
                            </div>
                            <div class="row color-grey font12px">
                                <div class="col-12">Total managers in Australia</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-5">
                            <img class="img-fluid" src="../../../assets/icons/manager_ 1.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header border-bottom-blue" id="headingOne" role="tab">
                    <div class="mb-0">
                        <span class="font20px font-weight-bold">Add Grocery Store</span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-12 font18px ">1. Store Details</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">Store/Supermarket Name</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="The Grocery Supermarket">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">Category</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="Grocery & Supermarket">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">Manager</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="Select Manager Name">
                                </div>
                            </fieldset>
                        </div>

                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-12 font18px ">2. Address Details</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">Country</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="Australia">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">Zip</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="2012">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">Province</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="New South Wales">
                                </div>
                            </fieldset>
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">City</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="Sydney">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <fieldset class="form-group text-left">
                                <label class="font14px color-39444D font-family-OpenSans ">Area</label>
                                <div class="input-group">
                                    <input class="form-control box-shadow-none" id="title" type="text" placeholder="67-57 Sydney Road">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <button class="btn btn-lg btn-outline-default font18px border-right-css"><img class="img-fluid" src="../../../assets/icons/cancleIcon.svg"></button>
                            <button class="btn btn-lg btn-outline-default font18px border-left-css pl-2 pr-3" type="submit">Cancle</button>
                        </div>
                        <div class="col-sm-12 col-md-3 text-left">
                            <button class="btn btn-lg btn-default background-green font18px border-right-css color-white" type="submit"><img class="img-fluid" src="../../../assets/icons/Frame (1).svg"></button>
                            <button class="btn btn-lg btn-default background-green font18px border-left-css color-white" type="submit">Add Store</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>