.header {
    position: sticky;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1029;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: 56px;
    border-bottom: 1px solid #d8dbe0;
}