<div class="row header background-green color-white self-align-center">
    <div class="col-6 text-left self-align-center pl-5">
        LOGO
    </div>
    <div class="col-6 text-right self-align-center pr-5">
        Jem Kabin <img class="img-fluid pointer" src="../../../assets/icons/chevron.svg" data-toggle="modal" data-target="#modalProfile">
    </div>
</div>
<div class="modal fade" id="modalProfile" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content  text-center">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Logout</h4>
                <button type="button" class="close outline-none" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure you want to Logout?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-default" data-dismiss="modal">Cancle</button>
                <button type="button" class="btn btn-default" [routerLink]="['/login']">Logout</button>
            </div>
        </div>
    </div>
</div>