<div class="login-page">
    <div class="row" style="min-height: 100vh">
        <div class="col-6  w-100 background-green">
            <div class="row mt-5">
                <div class="col-12 text-center">
                    LOGO
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center font-weight-bolder font20pxopenSans text-white">
                    Application helps you to<br> get your Grocery more easily
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <img class="img-fluid" src="../../../assets/images/Online Groceries.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-6  w-100 background-white">
            <div class="row mt-5">
                <div class="col-12 text-center">
                    LOGO
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center color-green font-weight-bold">
                    Login to your account
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-group input-group-lg col-md-6 mx-auto">
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                </div>
            </div><br>
            <div class="row">
                <div class="input-group input-group-lg col-md-6 mx-auto">
                    <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="row">
                <div class="input-group form-check col-md-6 mx-auto">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">Remember me
                    </label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-group input-group-lg col-md-6 mx-auto" (click)="login()">
                    <button class="btn btn-default background-green w-100" data-style="expand-right"><span class="font14px" >LOGIN</span><span class="ladda-spinner"></span></button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-group input-group-lg col-md-6 mx-auto text-center d-xl-block">
                    Dont have an account?<span class="color-green text-center"> Register here</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-group input-group-lg col-md-6 mx-auto text-center d-xl-block color-green font-weight-bold">
                    FORGOT PASSWORD?
                </div>
            </div>
        </div>
    </div>
</div>